<VirtualHost *:80>
    ServerName localhost
    DocumentRoot {{ drupal_install_dir }}

    <Directory {{ drupal_install_dir }}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog {{ apache_log_dir_ubuntu if ansible_os_family == "Debian" else apache_log_dir_rocky }}/drupal_error.log
    CustomLog {{ apache_log_dir_ubuntu if ansible_os_family == "Debian" else apache_log_dir_rocky }}/drupal_access.log combined
</VirtualHost>
